html, head, body{
  padding: 0;
  margin: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	background: #d0c2df;
}
.imagem{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
}
.foto-perfil{
width: 200;
height: auto;
max-width: 100%;
 border-radius: 50%;
 }

 .titulo{   
width:100vw; 
height: 200px; 
background-color:rgb(34, 18, 44);

 }
 .titulo_1{
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
   margin: 50px 0;
 }
  .linkk{
    display: flex;
    margin-top: auto;
    margin-left: 50px;
    cursor: pointer;
  }
 
.formu_contato{
  
  display: flex;
  flex-direction: column;
  padding: 2rem; 
  box-sizing: border-box;
  
        }

 label { display: inline-block;
width: 100px;
text-align: right;
font-size: 17px;
font-family: sans-serif;
font-weight: bold;
margin-bottom: 20px;

            }

.datos,textarea {
font-family: sans-serif;
font-size: 16px;
font-weight: 700;
width: 300px;
box-sizing: border-box;
border: 1px solid #999;
margin-bottom: 15px;
             }
 .datos,textarea {
  height: 30px;
  line-height: 30px;
  width: 30%;
  background: rgb(252, 248, 248);
  color: rgb(17, 16, 16);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  transition: .1s ease all;

                    }
                
.button{
    height: 50px;
    line-height: 20px;
    align-items:center;
    width: 30%;
    background: rgb(34, 3, 49);
    color: rgb(253, 246, 246);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
    
   
  }

 .errorInput{
border: 2px solid red !important;
}

